$background: #F9F6F0;
$background-shade: #f1ece2e5;
$primary: #F2A900;
$primary-shade: #f2a90068;
$accent: #F1C15C;
$accent-shade: #f1c15c4b;
$accent-shade2: #f1c25c00;
$text: #2D2D2D;
$text-shade: #2d2d2d2b;
$heading-text: #3F3F3F;
$font: sans-serif;
$error: #e63946;