$background: #333333;
$background-shade: #222222e5;
$primary: #3D62A4;
$primary-shade: #3d63a468;
$accent: #F9D342;
$accent-shade: #f9d4424b;
$text: #F4F4F4;
$text-shade: #f4f4f42b;
$heading-text: #FCFCFC;
$font: sans-serif;
$error: #e63946;