.profile-update-form {
    background-color: $background;
    color: $text;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
        color: $primary;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }

    .form-group {
        margin-bottom: 1.5rem;

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            font-weight: bold;
            color: $text-shade;
        }

        input {
            width: 100%;
            padding: 0.8rem 1rem;
            border: 1px solid $text-shade;
            border-radius: 10px;
            background-color: $background-shade;
            color: $text;
            font-size: 1rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            &:focus {
                border-color: $primary;
                box-shadow: 0 4px 10px rgba($primary, 0.3);
                outline: none;
            }
        }
    }

    .error {
        color: firebrick;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    button {
        width: 100%;
        padding: 1rem;
        background-color: $primary;
        color: $background;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
            background-color: $primary-shade;
            transform: scale(0.95);
        }

        &.disabled{
            background-color: $primary-shade;
            cursor: not-allowed;
            pointer-events: none;

            &:hover{
                transform: none;
                background-color: $primary-shade;
            }
        }
    }
}
