.navbar {

  // on smaller screens, it doesnt fill up the whole space
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: $primary-shade;
  padding: 0 2rem 0 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &::before {
    content: '';
    background-color: $background;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 4rem;
    z-index: -1;
  }


  & svg {
    cursor: pointer;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.logo {
  min-width: 3.5rem;
  width: auto;
  height: 3.5rem;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 24rem;
  background-color: $background;
  border: none;
  border-radius: 25px;

  svg {
    color: $text-shade;
  }

  input {
    background-color: transparent;
    width: 90%;
    height: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 25px;
    line-height: 1.1;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $text-shade;
    }
  }
}


.create-modify-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @include respond(tablet-landscape) {
    flex-direction: column;
  }
}

.primary-btn {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: $accent;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-family: $heading-font;

  &:hover {
    background-color: $primary;
  }
}

.secondary-btn {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: inherit;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-family: $heading-font;

  &:hover {
    background-color: $primary;
  }
}



.dropdown {
  position: relative;
  margin: 0 15px;
  width: 10rem;


  &:hover {
    .dropbtn {
      border-radius: 25px 25px 0 0;
      background-color: $accent;
    }
  }



  @include respond(tablet-landscape) {
    width: fit-content;
  }
}


.dropbtn {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-radius: 25px 25px 0 0;
  transition: background-color 0.4s ease, border-radius 0.3s ease;
  font-family: $heading-font;
}


.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  position: absolute;
  background: $accent;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
  text-align: center;
  visibility: hidden;
  padding: 0 0.5rem 1.25rem 0.5rem;
  z-index: 20;

  @include respond(tablet-landscape) {
    font-family: $heading-font;
    border-radius: 5%;
    background-color: $primary;
    width: 50dvw;
  }

  @include respond(phone) {
    width: 100dvw;
  }
}

.dropdown-content a {
  display: block;
  padding: 0.6rem;
}

.dropdown-content a:hover {
  background-color: $primary;
  border-radius: 12.5px;
  // transform: translate(-50 ,-50);
}

.dropbtn:hover+.dropdown-content,
.dropdown-content:hover {
  opacity: 1;
  visibility: visible;
}


.nav-links {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  border-radius: 0 0 10% 10%;
  width: 100%;

  @include respond(tablet-landscape) {
    background-color: $accent;
    position: absolute;
    flex-direction: column;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    transform: translateY(-10px);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}

.hamburger {
  display: none;

  @include respond(tablet-landscape) {
    display: block;
  }
}

@include respond(tablet-landscape) {
  .nav-links.open {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

    & span {
      width: fit-content;
    }
  }

  .nav-links.closing {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    visibility: hidden;
  }
}